/*  blush: #F9B4AB
    cream: #FDEBD3
    navy blue: #264E70
    watermelon green: #679186
    light green: #BBD4CE
    submit green: #44CF6C
    cancel red: #D62828


*/

:root {
  --blush: #f9b4ab;
  --cream: #FDEBD3;
  --blue: #264E70;
  --dark_green: #679186;
  --light_green: #BBD4CE;
  --bold_pink: #FF6F87;
  --dark_red: #6d1725;
}

* {
  margin: 0px;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  font-family: 'Fira Sans', sans-serif;
}

html {
  background-color: var(--light_green);
}


header{
  background-color: var(--dark_green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  top:0px;
  position:sticky;
}

.navbar{
display: flex;
justify-content: center;
padding-top: 0px;
background-color: var(--dark_green);
padding-bottom: 0px;
font-size: 10rem;
font-family: 'Fira Sans', sans-serif;
align-items:center;
}

.nav-img-right{
  display: flex;
  flex-direction: row-reverse;
}

#linkToHome{
  padding-left: 25px;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
#navAbout {
  color: black;
  text-decoration: none;
}
/* table, th, td {
  border: 6px solid var(--light_green);
  border-collapse: collapse;
  border-radius: 10px;
} */
/* td {
  background-color: #d1b3c4;
}
th{
  background-color: #ae8ea0;
} */

.main {
  background-color: var(--light_green);
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Fira Sans', sans-serif;
}



.foot {
  display: flex;
  justify-content: center;
  padding-top: 250px;
}




#addBtn {
  margin-left: 150px;
}



.infoTable {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

table {
  width: 1000px;
  border-collapse: collapse;
}

.td-button {
  width: 50px;
}


button {
  background-color: var(--blush);
  border: none;
  border-radius: 5px;
  padding: 5px;
}


button:hover {
  background-color: var(--cream);
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

.indexh1 {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}


.modify-page-h1 {
  padding-top: 30px;
  padding-bottom: 10px;
}

form {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  padding: 5px;
}

.CreateButtons {
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 10px;
  justify-content: center;
}

#Cancel {
  margin-right: 10px;
}

#tableTitle {
  padding-top: 20px;
  font-size: 150%;
  color: var(--bold_pink);
}

td {
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  width:150px;
  background-color: white;
}

th {
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;

  background-color: var(--blush);
}

.entryAttribute {
  font-size: 120%;
  padding: 20px;
}

#linkToHome {
  text-decoration: none;
}



td > a, a:hover, a:visited, a:active {
  color: var(--dark_red);
  text-decoration: none;
}




 /*#################### ABOUT.HTML ######################## */

.about-main h1{
  padding-top: 20px;
  font-size: 40px;
  display:flex;
  justify-content: center;
}


.git-icon{
  display:block;

}


.about-intro div h2{
  padding-top: 75px;
  font-size: 40px;
  display:flex;
  justify-content: center;
}

.about-main{
  display: flex;
  flex-direction: column;
}

.p-about{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.about-icons{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about-icons img{
  width: 75px;
  height: auto;
}


.members{
  margin-top: 50px;
  display: flex;
  justify-self: center;
  flex-direction: row;
  justify-content: center;
  max-height: 300px;
}

.members div{
  padding-bottom: 200px;
  background-color: white;
  padding: 25px 50px 200px;
}


.members img{
  border-radius: 10px;
}


.members p{
  padding-top: 10px;
}

.copyright{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.link-img{
  width: 40px;
  height: auto;
}

.git-img{
  padding-bottom: -100px;
  width: 40px;
  height: auto;
}

#alex-imgs{
  padding-top: 25px;
}

#christina-imgs{
  padding-top: 25px;
}

/* Create and Edit HTML PAGES */


.modify-page-h1{
  font-size: 30px;
}

#createForm{
  padding-top: 100px;
}

#editform{
  padding-top: 100px;
}

input{
  border-radius: 5px;
  width: 200px;
  height: 25px  ;
}


.form-submit-button{
  background-color: #65be7f;
  margin-left: 50px;
}


.form-cancel-button{
  background-color: #ce5454;
}

.CreateButtons{
  padding-top: 50px;
}


.form-submit-button:hover{
background-color: #2fb056;
transition: all 0.5s ease-in-out;
cursor: pointer;
}


.form-cancel-button:hover{
background-color: #b73333;
transition: all 0.5s ease-in-out;
cursor: pointer;
}


.create-button-cancel{
  background-color: #d32626;
}

.create-button-submit{
  background-color: #2fb056;
  margin-left: 40px;
}

#createForm input{
  margin-top: 20px;
}


#editform input{
  margin-top: 20px;
}


.edit-button-cancel{
  background-color: #ce5454;
}

.edit-button-submit{
  background-color: #65be7f;
  margin-left: 40px;
}

.edit-button-submit:hover{
  background-color: #2fb056;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  }
  
  
.edit-button-cancel:hover{
  background-color: #b73333;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  }
  