/*  blush: #F9B4AB
    cream: #FDEBD3
    navy blue: #264E70
    watermelon green: #679186
    light green: #BBD4CE


*/

:root {
  --blush: #f9b4ab;
  --cream: #FDEBD3;
  --blue: #264E70;
  --dark_green: #679186;
  --light_green: #BBD4CE;
}

* {
  margin: 0px;
  font-size:15px;
  text-decoration: none;
  list-style: none;
}

html{
background-color: var(--light_green);
}

.navbar{
display: flex;
justify-content: center;
padding-top: 25px;
background-color: var(--dark_green);
padding-bottom: 25px;
font-size: 100px;
font-family: 'Fira Sans', sans-serif;
}

.main{
background-color: var(--light_green);
display: flex;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
font-family: 'Fira Sans', sans-serif;
}



.foot{
display: flex;
justify-content: center;
padding-top: 250px;
}




#addBtn{
margin-left: 150px;
}



.infoTable{
display: flex;
justify-content: center;
flex-direction: column;
}


button{
background-color: var(--blush);
border: none;
border-radius: 5px;
}


button:hover{
background-color: var(--cream);
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  padding-top: 50px;
}

form {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}
