<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Create an Entry</title>
</head>

<body>
  <h1 class="modify-page-h1">Create a Media Entry</h1>
  <form id="createForm" action="/updated" method="post">
    <input type="hidden" name="type" value="{{type.name}}">
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name"><br>
    <label for="field_1">{{type.field_1.capitalize()}}</label><br>
    <input type="text" name="field_1" id="field_1"><br>
    <label for="field_2">{{type.field_2.capitalize()}}</label><br>
    <input type="text" name="field_2" id="field_2"><br>
    <label for="field_3">{{type.field_3.capitalize()}}</label><br>
    <input type="text" name="field_3" id="field_3"><br>
  </form>
    <div class="CreateButtons">
      <button id="Cancel" class="form-cancel-button">Cancel</button>
      <button id="Create" class="form-submit-button">Create Entry</button>
    </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('Cancel').addEventListener('click', goBack)
      document.getElementById('Create').addEventListener('click', submitForm)
    });
    function goBack(ev) {
      ev.preventDefault
      var url = "/"
      window.location = url
    }
    function submitForm(ev) {
      ev.preventDefault
      document.getElementById('createForm').submit()
    }
  </script>
</body>

</html>