<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Create an Entry</title>
  </head>
  <body>
      <h1>Create a Media Entry</h1>
      <form action="/templates/index.html">
        <label for="Title">Title:</label><br>
        <input type="text" id="Title" name="Title" value=""><br>
        <label for="Author">Author:</label><br>
        <input type="text" id="Author" name="Author" value=""><br>
        <label for="Publisher">Publisher:</label><br>
        <input type="text" id="Publisher" name="Publisher" value=""><br>
        <label for="Genre">Genre:</label><br>
        <input type="text" id="Genre" name="Genre" value=""><br>
        <button class="Cancel">Cancel</button>
        <button class="Create Entry">Create Entry</button>
      </form> 
  </body>
  </html>