<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Edit</title>
</head>
<body>
    <div class="container">
      <header>
        <p>My Media List</p>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Edit Entry</h1>
            <form>
            <label for="name">Name:</label><br>
            <input type="text" name="name"><br>
            <label for="field1">Field 1:</label><br>
            <input type="text" name="field1"><br>
            <label for="field2">Field 2:</label><br>
            <input type="text" name="field2"><br>
            <label for="field3">Field 3:</label><br>
            <input type="text" name="field3"><br>
            </form>
        <button>Cancel</button>
        <button>Apply Changes</button>
      <footer><p>Team Watermelon</p></footer>
    </div>
  </body>
  </html>

  