<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro:wght@200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Edit</title>
</head>

<body>
  <h1 class="modify-page-h1">Edit Entry</h1>
  <input type="hidden" id="keyValueHidden" value="{{data.local_key}}">
  <form id="editform">
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name" value="{{data.name}}"><br>
    <label for="field_1">{{data.type.field_1.capitalize()}}</label><br>
    <input type="text" name="field_1" id="field_1" value="{{data.field_1}}"><br>
    <label for="field_2">{{data.type.field_2.capitalize()}}</label><br>
    <input name="field_2" id="field_2" value="{{data.field_2}}"><br>
    <label for="field_3">{{data.type.field_3.capitalize()}}</label><br>
    <input name="field_3" id="field_3" value="{{data.field_3}}"><br>
  </form>
    <div class="CreateButtons">
      <button id="Cancel" class="edit-button-cancel">Cancel</button>
      <button id="Apply" class="edit-button-submit">Apply Changes</button>
    </div>
  <script>
    function goBack(ev) {
      ev.preventDefault
      var url = "/"
      window.location = url
    }
    function handleform(ev) {
      ev.preventDefault(); //stop page reloading
      let myform = document.getElementById('editform');
      let fd = new FormData(myform);

      keyValue = document.getElementById('keyValueHidden').value

      let url = `/editentry/${keyValue}`
      let req = new Request(url, {
        body: fd,
        method: 'PUT',
      });
      fetch(req)
        .then(result => {
          var url = "/"
          window.location = url
        })
    }
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('Apply').addEventListener('click', handleform)
      document.getElementById('Cancel').addEventListener('click', goBack)
    });
  </script>
</body>

</html>