<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="templates/css/styles.css">
  <title>Agile 2911</title>
</head>
<body>
  <div class="Information">
    <header>
      <p>Information</p>
      <nav>
        <ul>
          <li><a href="#">Docs</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <ul>
            <li>Name: </li>
            <li>Type: </li>
            <li>Field 1: </li>
            <li>Field 2: </li>
            <li>Field 3: </li>
        </ul>
    </main>
  </div>
</body>
</html>