<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
      <header>
        <p>My Media List</p>
        <nav>
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <button id="addBtn">+</button>
        <table>
            <tr>
                <th><a href=#>Type</a></th>
                <th><a href=#>Name</a></th>
                <th><a href=#>Field 3</a></th>
                <th><a href=#>Field 4</a></th>
                <th><a href=#>Field 5</a></th>
            </tr>
            <tr>
                <td>Info 1</td>
                <td>Info 2</td>
                <td>Info 3</td>
                <td>Info 4</td>
                <td>Info 5</td>
                <td><Button>Edit</Button></td>
                <td><Button>Delete</Button></td>
            </tr>
        </table>
      </main>
      <footer><p>Team Watermelon</p></footer>
    </div>
  </body>
  </html>