<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="container">
      <header>
        <p>My Media List</p>
        <nav>
          <ul>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <button id="addBtn">+</button>
        {% for type in types %}
          {% if manager.list_by_type(type.name) != None %}
          <h1>{{type.name.capitalize()}}</h1>
          <table>
              <tr>
                  <!-- <th><a href=#>Type</a></th> -->
                  <th>Name</th>
                  <th>{{type.field_1.capitalize()}}</th>
                  <th>{{type.field_2.capitalize()}}</th>
                  <th>{{type.field_3.capitalize()}}</th>
              </tr>
              {% for entry in manager.list_by_type(type.name) %}
              <tr>
                  <td><a href="/{{type.name}}/{{entry.name}}">{{entry.name}}</a></td>
                  <td>{{entry.field_1}}</td>
                  <td>{{entry.field_2}}</td>
                  <td>{{entry.field_3}}</td>
                  <!-- <td><Button>Edit</Button></td> -->
                  <td><a href = "{{url_for('edit')}}"><button>Edit</button></a></td>
                  <td><Button>Delete</Button></td>
              </tr>
              {% endfor %}
          </table>
          {% endif %}
        {% endfor %}
      </main>
      <footer><p>Team Watermelon</p></footer>
    </div>
  </body>
  </html>